%p#notice= notice

%p
  %b Title:
  = @job_post.title
%p
  %b Identifier:
  = @job_post.identifier
%p
  %b Description:
  = @job_post.description
%p
  %b Raw data:
  = @job_post.raw_data
%p
  %b Budget:
  = @job_post.budget
%p
  %b Post date:
  = @job_post.post_date
%p
  %b Url:
  = @job_post.url

= link_to 'Edit', edit_job_post_path(@job_post)
\|
= link_to 'Back', job_posts_path
